@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
body {
  margin: 0;
  background-color: #3db9ab; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.spacer {
  width: 100%;
  height: 300vh;
  min-height: 1200px; }

.scene {
  position: relative;
  height: 100vh;
  line-height: 0; }
  .scene .img-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: inherit; }
    .scene .img-wrap img {
      width: auto;
      height: 100%; }

#main-pin {
  margin-top: -300px; }

.wish-img {
  position: absolute;
  max-width: 100%;
  height: auto; }

.scene .container {
  position: relative;
  height: 100%; }

.buildings-bg {
  bottom: 0; }

.wish-init {
  position: relative;
  max-width: 622px;
  width: 100%;
  margin: auto;
  height: 100vh; }
  .wish-init .center-init {
    width: 622px;
    height: 348px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 800px) {
      .wish-init .center-init {
        width: 100%; } }
  .wish-init .wish-logo-full {
    background-image: url(../images/wish-logo-full.png);
    margin-top: 300px; }
  .wish-init .wish-center {
    position: fixed; }
    .wish-init .wish-center.w1 {
      top: 300px;
      background-image: url(../images/i-normal.png); }

.paris-center {
  left: calc(45% - (523px / 2));
  bottom: 0; }

.text-block {
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
  height: 400px; }
  .text-block .wishTitle {
    font-family: 'Playfair Display', serif;
    max-width: 100%;
    width: 100%;
    font-style: italic;
    font-size: 25px;
    line-height: 29px;
    margin: 0;
    font-weight: 300; }
    .text-block .wishTitle:last-of-type {
      margin-bottom: 20px; }
  .text-block .wishLink {
    font-style: italic;
    font-size: 20px;
    color: #fbb03b;
    text-align: right; }

/*# sourceMappingURL=main.css.map */
